torch
transformers>=4.45.0,<5.0.0
sentencepiece
protobuf
sacremoses
indic-transliteration
indictranstoolkit
rapidfuzz
PyMuPDF
ebooklib
beautifulsoup4
streamlit
reportlab
google-generativeai
anthropic
tqdm
python-docx
pytesseract
Pillow
